@media (min-width:768px) {
    .container>section{
        width: 50%;
    }
    .container{
        margin: 0;
    }

}

@media (min-width:1440px) {

    .container>section{
        width: 50%;
    }
    .container> .title{
        display: flex;
        justify-content: end;
    }
    }